<form class="needs-validation" 
action="/signup" method="POST">
  <div class="form-row">

    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">E-Mail</label>
      <input
        name="email"
        type="email"
        class="form-control"
        id="validationTooltip02"
        placeholder="E-Mail"
      />
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">First name</label>
      <input
        name="firstname"
        type="text"
        class="form-control"
        id="validationTooltip01"
        placeholder="First name"
      />

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Last name</label>
      <input
        name="lastname"
        type="text"
        class="form-control"
        id="validationTooltip02"
        placeholder="Last name"
      />

      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">username</label>
        <input
          name="username"
          type="text"
          class="form-control"
          id="validationTooltip01"
          placeholder="username"
        />

      </div>

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        id="validationTooltip02"
        placeholder="Password"
      />

    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit form</button>
</form>

{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}