<div class="page-header">
    <h1>Sign Up</h1>
</div>

<div class="event-form-container">
<form id="form-sign-up" 
action="/auth/signup" method="POST">
  {{!-- <div class="form-row"> --}}

   
      <label for="validationTooltip02">E-Mail</label>
      <input
        name="email"
        type="email"
        class="form-control"
        id="validationTooltip02"
        placeholder="E-Mail"
      />
    
   
      <label for="validationTooltip01">First name</label>
      <input
        name="firstname"
        type="text"
        class="form-control"
        id="validationTooltip01"
        placeholder="First name"
      />

    
   
      <label for="validationTooltip02">Last name</label>
      <input
        name="lastname"
        type="text"
        class="form-control"
        id="validationTooltip02"
        placeholder="Last name"
      />

     
        <label for="validationTooltip02">username</label>
        <input
          name="username"
          type="text"
          class="form-control"
          id="validationTooltip02"
          placeholder="username"
        />

      

    
   
      <label for="validationTooltip02">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        id="validationTooltip02"
        placeholder="Password"
      />

    
  {{!-- </div> --}}
{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}
  <button class="btn btn-warning btn-md" type="submit">Sign Up</button>
</form>
</div>
