
<div class="list-events-concepts">
    <h1>Concepts</h1>

    <p>Here you'll find some new concepts how to connect people!</p>
</div>

<div class="event-img">
    <img
 src="/images/ian-schneider-TamMbr4okv4-unsplash.jpg" alt="Passion led us here">
 </div>


