
<div class="list-events-concepts">
    <h1>Events</h1>

    <p>Here you'll find an overview of all events.</p>
</div>



<div class="event-img">
    <img
 src="/images/priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg" alt="People laughing">
 </div>